/*
Font URLs taken from 
https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;1,400&display=swap&text=abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789-,%2E%2F
*/
@font-face {
    font-family: 'Space Mono';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(./assets/fonts/space-mono-400-italic.woff2) format('woff2');
}
@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./assets/fonts/space-mono-400-normal.woff2) format('woff2');
}

:root {
    font-family: "Space Mono", monospace;
    font-size: 25px;

    --orange: #ff7e20;
}

* {
    box-sizing: border-box;
}

button {
    border: none;
    font: inherit;
}

body {
    margin: 0;
    background-color: black;
    color: #efefef;
    
    height: 100vh;
    height: -webkit-fill-available;
}

#page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1em;
    overflow: auto;
}

#page::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-image: url(./assets/images/wallpaper.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.12);
    
    z-index: -1;
}

@media(min-width: 1025px) {
    #page {
        display: flex;
        gap: 1em;
        flex-direction: column;
    }
}

main {
    flex: 1 0 0;
    
    display: flex;
    gap: 1em;
    flex-direction: column;
}

@media(min-width: 1025px) {
    main {
        height: 100%;
        gap: 2em;
        flex-direction: row;
    }
}

footer {
    opacity: 0.75;
    flex: 0 0 auto;
    margin-top: 2em;
    padding: 0 1em;
    width: 100%;
    color: var(--orange);
    text-align: center;
    font-size: 0.5em;
    text-wrap: balance;
}

footer a {
    color: hsl(210, 100%, 75%) !important;
}

/*
///////////////////////////////////
//       Supernova Styling       //
///////////////////////////////////
*/

.supernova-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: black;
    opacity: 0;
    
    user-select: none;
    pointer-events: none;
    
    z-index: 999;
    
    overflow: hidden;
    
    transition: opacity 1s ease;
}

.supernova-started .supernova-overlay {
    opacity: 1;
}

.supernova-overlay > svg {
    min-width: 1vw;
    min-height: 1vw;
    
    transform: scale(0);
    transition: transform 1s linear;
    transition-delay: 1s;
}

.supernova-started .supernova-overlay > svg {
    transform: scale(10);
}

.supernova-started main {
    user-select: none;
    pointer-events: none;
}

.supernova-completed main {
    opacity: 0;
}

.supernova-completed .supernova-overlay {
    transition: opacity 3s ease;
    opacity: 0;
}

/*
///////////////////////////////////
//       .panel-interactive      //
//                               //
//    All traveller cards and    //
//             audios            //
///////////////////////////////////
*/

.panel-interactive {
    display: flex;
    flex-direction: column;
    object-fit: contain;
    
    height: 100%;
}

@media(min-width: 1025px) {
    .panel-interactive {
        flex: 6 0 0;
        overflow: auto;
    }
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container > img {
    margin: auto;
    max-height: 10em;
    max-width: 90%;
}

.traveller-grid {
    max-height: 100%;
    flex: 1 0 0;
    
    gap: 0.75em;
    
    display: flex;
    flex-direction: column;
}

@media (min-width: 641px) {
    .traveller-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        
        justify-items: center;
        align-items: center;
    }
}

/* Traveller Cards */

.traveller-card {
    --fraction: 0;
    
    height: 100%;
    width: 100%;
    display: block;
}

.traveller-card[data-traveller-name="Prisoner"] {
    grid-column: 2;
}

.traveller-card__inner {
    display: flex;
    height: 100%;
    width: 100%;
    
    flex-direction: row;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

@media (min-width: 641px) {
    .traveller-card__inner {
        gap: 0;
        flex-direction: column;
    }
}

.traveller-card__icon {
    min-height: 2em;
    flex: 0 0 auto;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    cursor: pointer;
    
    color: color-mix(in srgb, var(--base-color) calc(100% * var(--fraction)), white);
    
    filter: drop-shadow(0 0 calc(10px * var(--fraction)) var(--bloom-color));
    
    -webkit-tap-highlight-color: transparent;
}

@media (min-width: 641px) {
    .traveller-card__icon {
        width: 100%;
        flex: 1 0 0;
        overflow: hidden;
    }
}

.traveller-card__icon > svg {
    width: 3em;
    height: 3em;
}

@media (min-width: 641px) {
    .traveller-card__icon > svg {
        height: 75%;
        width: 75%;
    }
}

.traveller-card__meta {
    flex: 1 0 0;
}

@media (min-width: 641px) {
    .traveller-card__meta {
        flex: 0 0 auto;
        width: 100%;
    }
}

.traveller-card__name {
    width: 100%;
    
    font-size: 0.75em;
}

@media (min-width: 641px) {
    .traveller-card__name {
        margin: 1em 0;
        text-align: center;
    }
}

.traveller-card__audio {
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.volume-range-input {
    accent-color: var(--base-color);
    width: 100%;
}

/*
///////////////////////////////////
//          .panel-info          //
//                               //
//      Logo and about text      //
///////////////////////////////////
*/

.panel-info {
    flex: 0 0 auto;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media(min-width: 1025px) {
    .panel-info {
        flex: 4 0 0;
    }
}

.panel-info__logo {
    display: flex;
}

.panel-info__about {
    flex: 0 0 auto;
    margin: 1rem 0;
    font-size: 0.5em;
    font-style: italic;
    text-align: center;
    text-wrap: balance;
    
    color: #cccccc;
}

@media (min-width: 721px) {
    .panel-info__about {
        font-size: 0.65em;
    }
}

@media (min-width: 1025px) {
    .panel-info__about {
        margin: 2rem 0;
        font-size: 0.75em;
    }
}

/* Media Control Panel */

.control-panel {
    width: 100%;
    display: block;
    overflow: hidden;
    padding: 0.5rem 0;
    
    font-size: 0.5em;
}

@media (min-width: 1025px) {
    .control-panel {
        font-size: 0.75em;
        padding: 0.5rem;
    }
}

.control-panel__inner {
    height: 100%;
    width: 100%;
    
    display: grid;
    gap: 2em 1em;
    grid-template-columns: repeat(3, 1fr);
}

.control-item {
    flex: 1 0 0;
    
    padding: 0.5em 0;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: #fff1;
    color: #cccccc;
    border-radius: 1em;
    outline: 2px solid #242424;
    
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

/* Logic for the play / pause button */
.control-item.paused .show-when--playing,
.control-item.playing .show-when--paused {
    display: none;
}

.control-item:focus {
    outline-color: white;
}

.control-icon {
    width: 2em;
    height: 2em;
    
    transition: color 250ms ease;
}

.control-item:hover .control-icon,
.control-item:focus .control-icon {
    --fraction: 1;
    --bloom-color: deepskyblue;
    color: var(--bloom-color);
    filter: drop-shadow(0 0 calc(10px * var(--fraction)) var(--bloom-color));
}

.deviation-text.large-deviation {
    --bloom-color: crimson;
    color: lightcoral;
}

.control-icon > svg {
    width: 100%;
    height: 100%;
}

.control-title {
    font-size: 0.75em;
    text-align: center;
}

/* Special case: Control item for audio deviation */

.control-item--deviation {
    grid-column: span 3;
}

.deviation-text {
    --fraction: 1;
    --bloom-color: deepskyblue;
    color: var(--bloom-color);
    filter: drop-shadow(0 0 calc(10px * var(--fraction)) var(--bloom-color));
    
    text-align: center;
    padding: 0.25em 0.5em;
}

/* Special case: Control item for playback speed */

.control-item--speed {
    grid-column: span 3;
}

.control-item--speed .playback-bar {
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 0.5em;
    padding: 0.25em 0.5em;
    
    color: deepskyblue;
}

.playback-speed-input {
    accent-color: deepskyblue;
    width: 100%;
    max-width: 30ch;
}
