@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    font-family: "Space Mono", monospace;
    font-size: 25px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 1em;
    background-color: black;
    color: white;

    display: flex;
    flex-direction: column;

    height: 100%;
}

@media(min-width: 1025px) {
    body {
        height: 100vh;

        flex-direction: row-reverse;
    }
}

/*
///////////////////////////////////
//       .panel-interactive      //
//                               //
//    All traveller cards and    //
//             audios            //
///////////////////////////////////
*/

.panel-interactive {
    /* background-color: red; */

    display: flex;
    flex-direction: column;
    object-fit: contain;

    height: 100%;
    overflow: auto;
}

@media(min-width: 1025px) {
    .panel-interactive {
        flex: 6 0 0;
    }
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container > img {
    margin: auto;
    max-height: 5em;
    max-width: 100%;
}

/* Narrow: Shown */
.panel-interactive__logo {
    /* background-color: cyan; */
    flex: 0 0 auto;
}

@media(min-width: 1025px) {
    .panel-interactive__logo {
        display: none;
    }
}

.traveller-grid {
    max-height: 100%;
    flex: 1 0 0;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    justify-items: center;
    align-items: center;
}

.traveller-card {
    --fraction: 0;

    height: 100%;
    width: 100%;
    display: block;
    overflow: hidden;
}

.traveller-card__inner {
    display: flex;
    height: 100%;
    width: 100%;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.traveller-card__icon {
    width: 100%;
    flex: 1 0 0;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    --bloom-color: hsl(210, 100%, 50%);
    --base-color: hsl(210, 100%, 75%);
    color: color-mix(in srgb, var(--base-color) calc(100% * var(--fraction)), white);

    filter: drop-shadow(0 0 calc(10px * var(--fraction)) var(--bloom-color));
}

.traveller-card__icon > svg {
    height: 75%;
    width: 75%;
}

.traveller-card__name {
    flex: 0 0 auto;
    width: 100%;
    margin: 1em 0;

    font-size: 0.75em;

    text-align: center;
}

.traveller-card__audio {
    flex: 0 0 auto;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.volume-range-input {
    accent-color: var(--base-color);
    width: 75%;
}

/*
///////////////////////////////////
//          .panel-info          //
//                               //
//      Logo and about text      //
///////////////////////////////////
*/

.panel-info {
    flex: 0 0 auto;
}

@media(min-width: 1025px) {
    .panel-info {
        flex: 4 0 0;
    }
}

/* Narrow: Hidden */
.panel-info__logo {
    display: none;
}

@media(min-width: 1025px) {
    .panel-info__logo {
        display: flex;
    }
}
